# Lavalink runtime files
plugins/
logs/
.youtube-oauth.json
application.yml

# Node & TypeScript
node_modules/
dist/
data/

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
.env

# Whitelisted files
!*.example
